<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="details-container">
      <h2>détail de la réservation</h2>
      <p>numéro de catway : <%=booking.catwayNumber%></p>
      <p>nom du bateau : <%=booking.boatName%></p>
      <p>nom du client : <%=booking.clientName%></p>
      <p>début location : <%=checkIn%></p>
      <p>fin location : <%=checkOut%></p>
    </div>
  </body>
</html>
